@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
}

// #banner img {
//     height: 200px;
//     width: 100%;
// }

// #header span {
//     font-family: 'Trade Winds', ;
//     font-size: 2em;
// }

// #city {
//     position: absolute;
//     top: 1em;
//     right: 0;
//     margin-bottom: 5em;
// }

.hidden {
    display: none;
}